<div class="row text-center text-splash static-page-list">
  <div class="text-splash-content">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>What team do you want to tailgate for?</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <h3>College Football</h3>
      <hr/>
      <% @teams.college_football.each do |team| %>
        <% if team.total_live_tailgates.count > 0 %>
          <div class="row">
            <div class="col-xs-12">
              <div class="list-group-item text-center" style="background-image: url(<%= team.background_image %>); color: white; background-size: cover; padding: 0;">
                <div class="team-index-filter" style="background-color: rgba(0,0,0,.6); width: 100%, height: 100%; padding: 10px;">
                  <h3><%= link_to team.name, team %></h3>
                  <p><%= pluralize(team.total_live_tailgates.count, 'tailgate') %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>College Baseball</h3>
      <hr/>
      <% @teams.college_baseball.each do |team| %>
        <% if team.total_live_tailgates.count > 0 %>
          <div class="row">
            <div class="col-xs-12">
              <div class="list-group-item text-center" style="background-image: url(<%= team.background_image %>); color: white; background-size: cover; padding: 0;">
                <div class="team-index-filter" style="background-color: rgba(0,0,0,.6); width: 100%, height: 100%; padding: 10px;">
                  <h3><%= link_to team.name, team %></h3>
                  <p><%= pluralize(team.total_live_tailgates.count, 'tailgate') %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>NFL</h3>
      <hr/>
      <% @teams.nfl.each do |team| %>
        <% if team.total_live_tailgates.count > 0 %>
          <div class="col-xs-12">
            <div class="list-group-item text-center" style="background-image: url(<%= team.background_image %>); color: white; background-size: cover; padding: 0;">
              <div class="team-index-filter" style="background-color: rgba(0,0,0,.6); width: 100%, height: 100%; padding: 10px;">
                <h3><%= link_to team.name, team %></h3>
                <p><%= pluralize(team.total_live_tailgates.count, 'tailgate') %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <hr/>
      <%= render 'shared/team_request' %>
    </div>
  </div>
</div>
