<div class="row form-area">
  <div class="form-content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 form-inputs">
        <h3 class="text-center">Add a new team</h3>
        <hr/>
        <%= form_for @team do |f| %>


        <%= f.text_field :name, class: 'form-control form-input-fields', placeholder: "Team Name"  %>
        <br>

        <%= f.text_field :headline, class: 'form-control form-input-fields', placeholder: "Team Headline" %>
        <br>

        <%= f.text_field :color, class: 'form-control form-input-fields', placeholder: "Enter hexdecimal of team color" %>
        <br>

        <%= f.select    :sport, ["College Football", "College Baseball", "NFL"],
                        {},
                        class: 'form-control form-input-fields' %>

        <br>

        <%= f.text_field :background_image, class: 'form-control form-input-fields', placeholder: "Background Image" %>

        <hr/>

        <%= f.submit 'Create Team', class: 'btn btn-primary form-input-fields' %>

        <% end %>
      </div>
    </div>
  </div>
</div>
