<div
class="row text-center team-show-splash"
id="team-show-splash"
data-behavior="splash"
style="background-image: url(<%= @team.background_image %>); border-bottom: 5px solid <%= @team.color %>;">

<div class="team-show-splash-filter">
  <div class="team-show-text">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1><%= @team.name %></h1>
        <h3 class="subtext"><%= @team.headline %></h3>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <br>
  <br>
  <div class="row">
    <div class="col-md-8">
      <h3 class="subtext">
        There are <%= pluralize(@team.total_tailgates, 'tailgate') %> to choose from for <%= @team.name %> games
      </h3>
      <hr/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <% @events.each do |event| %>
      <% if event.tailgates.length > 0 %>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title"><strong><%= event.name %></strong></h2>
              <h3 class="panel-title">
                <small>
                  <%= Date.parse(event.date).strftime("%B %e, %Y") %>,
                  <%= Date.parse(event.time).strftime("%I:%M%p") %>,
                  <%= event.city %>,
                  <%= event.state %>
                </small>
              </h3>
            </div>
            <div class="panel-body">
              <% event.tailgates.each do |tailgate| %>
              <%= tailgate_listing_for tailgate do %>
              <div class="col-md-4 tailgate-listing-image" style="background-image: url(<%= tailgate.image_1 %>);">
                <div class="tailgate-listing-price" style="background-color: <%= @team.color %>">
                  <h5>$<%= tailgate.price %> Per Guest</h5>
                </div>
              </div>
              <div class="col-md-8">
                <h4>
                  <strong>
                    <%= link_to tailgate.name, tailgate_url(tailgate.id) %>
                  </strong>
                </h4>
                <p>
                  <strong>Hosted by:</strong>
                  <%= tailgate.host.short_name %> (<%= star_rating_for(tailgate) %> out of 5 stars)
                </p>

                <p>
                  <em>
                    <%= tailgate.size %> spots remaining |
                    Affiliated with <%= tailgate.affiliation %> team
                  </em>
                </p>

                <p class="text-justify"><%= truncate(tailgate.description, length: 170) %></p>

              </div>

              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hosting at <%= @team.name %></h3>
        </div>
        <div class="panel-body text-center">
          <h2 class="subtext">
            Do you want to earn money by hosting tailgates at <%= @team.name %>?
          </h2>

          <% if current_user.try(:host_status?) %>
          <button class='btn btn-large' style='color: white; background-color: <%= @team.color %>;'>  List a Tailgate Now
          </button>
          <% else %>
          <button class='btn btn-large' style='color: white; background-color: <%= @team.color %>;'>    <%= link_to "Become a host now", become_host_url %>
          </button>
          <% end %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">About <%= @team.name %></h3>
        </div>
        <div class="panel-body">
          <p>
            Coming soon! If you would like to contribute to this section, please email paul@crowdgate.us.
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

<%= hidden_field_tag :nav_color, @team.color, data: { behavior: "color-for-nav" } %>
