<!-- BOOKING BUTTONS MOBILE -->

<div class="visible-xs">
  <% if @tailgate.class == PaidTailgate %>
    <% if @tailgate.current_size > 0 %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary mobile-booking-button">
          Book Now
        </p>
      <% end %>

    <% else %>
      <p class="btn btn-default mobile-booking-button">
        <%= link_to "SOLD OUT", "#" %>
      </p>
    <% end %>

  <% elsif @tailgate.class == FreeTailgate %>

    <% if @tailgate.current_size > 0 %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary mobile-booking-button">
          RSVP Now
        </p>
      <% end %>
    <% else %>
      <p class="btn btn-default mobile-booking-button"><%= link_to "SOLD OUT", "#" %></p>
    <% end %>

  <% else @tailgate.class == PackagedTailgate %>

    <% if @tailgate.tickets_sold.present? %>
      <p class="btn btn-default mobile-booking-button">
        <%= link_to "SOLD OUT", "#" %>
      </p>
    <% else %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary mobile-booking-button">
          Book Now
        </p>
      <% end %>
    <% end %>

  <% end %>

  <p class="btn btn-default mobile-booking-button">
    <a href="mailto:<%= @tailgate.host.email %>?Subject= Question about your tailgate for the <%= @tailgate.event.name %> game">Email Host
    </a>
  </p>
</div>


<!-- BOOKING BUTTONS DESKTOP -->

<div class="col-md-3 col-md-offset-1 booking-block hidden-xs">

  <% if @tailgate.class == PaidTailgate %>
    <h3>$<%= @tailgate.price %> per guest</h3>
    <p><%= @tailgate.current_size %> Spots Remaining</p>

    <% if @tailgate.current_size > 0 %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary btn-block">
          Book Now
        </p>
      <% end %>

    <% else %>
      <p class="btn btn-default btn-block">
        <%= link_to "SOLD OUT", "#" %>
      </p>
    <% end %>

  <% elsif @tailgate.class == FreeTailgate %>
    <h3>FREE</h3>
    <p><%= @tailgate.current_size %> Spots Remaining</p>

    <% if @tailgate.current_size > 0 %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary btn-block">
          RSVP Now
        </p>
      <% end %>
    <% else %>
      <p class="btn btn-default btn-block"><%= link_to "SOLD OUT", "#" %></p>
    <% end %>

  <% else @tailgate.class == PackagedTailgate %>
    <h3>$<%= @tailgate.price %> for group tailgate package</h3>
    <br>
    <% if @tailgate.tickets_sold.present? %>
      <p class="btn btn-default btn-block"><%= link_to "SOLD OUT", "#" %></p>
    <% else %>
      <%= link_to new_tailgate_booking_url(@tailgate.id) do %>
        <p class="btn btn-primary btn-block">
          Book Now
        </p>
      <% end %>
    <% end %>

  <% end %>

  <hr/>
  <p class="btn btn-default btn-block buttons-with-icons">
    <a href="mailto:<%= @tailgate.host.email %>?Subject= Question about your tailgate for the <%= @tailgate.event.name %> game">
      <i class="fa fa-envelope"></i> Email Host
    </a>
  </p>
  <p class="btn btn-default btn-block buttons-with-icons">
    <a href="mailto:?Subject=Check out this tailgate for <%= @tailgate.event.name %>&amp;body=Here is the link to the tailgate: https://www.crowdgate.us/tailgates/<%= @tailgate.id %>">
    <i class="fa fa-paper-plane"></i> Send to Friends
    </a>
  </p>
</div>
