<div class="container">
  <div  class="row"
        style= "height:50vh;
                background-image: url('<%= @tailgate.image_1 %>');
                background-size: cover;
                position: relative;">
    <div class="slide-from-right" style="position: absolute; bottom: 0; right: 0; padding: 15px; background-color: #303A48; color:white;">
      <% if @tailgate.class == FreeTailgate %>
        <span>FREE</span>
      <% else %>
        <span><%= number_to_currency(@tailgate.price) %> / guest</span>
      <% end %>
    </div>
  </div>
  <div class="row" style="background-color: white;">
    <div class="col-xs-12" style="padding-top: 5px;">
      <p style="font-size: 14px;">
        <strong><%= @tailgate.name %></strong><br>
        <small><%= @tailgate.event.name %></small><br>
        <small>Tailgate starts <%= @tailgate.tailgate_start_time %></small><br>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center" style="padding: 15px;">
      <p><%= @tailgate.current_size %> Spots Remaining</p>
      <%= render 'booking_block' %>
    </div>
  </div>
</div>
<%= render 'mobile_tab_display' %>
<hr/>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render 'tailgates/pictures' %>
      <%= render 'mobile_event_details' %>
    </div>
  </div>
</div>

<div  class="container"
      style="position: fixed; bottom: 0; background-color: #303A48; color:white; width: 100%;">
  <div class="row" style="padding: 10px 0;">
    <div class="col-xs-10" style="height: 100%;">
      <p class="btn btn-block btn-primary">
        32 spots remaining, reserve yours now
      </p>
    </div>
    <div class="col-xs-2" style="height: 100%;">
      <i class="fa fa-envelope-o" style="font-size: 20px;"></i>
    </div>
  </div>
</div>

