<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Edit tailgate</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= form_tag tailgate_url(@tailgate.id), :method => "patch", :class => "form tailgate-forms" do %>
      <!-- <form class="form tailgate-forms" action="/tailgates/<%= @tailgate.id %>/save"> -->

      <!-- TIME TAILGATE STARTS, RELATIVE TO KICKOFF-->
      <div class="form-group">
        <label class="control-label" for="event_id">What game are you tailgating for?</label>
        <select class="form-control" name="event_id" id="event_id">
          <option>Select a game</option>
          <% @events.each do |event| %>
          <option value="<%= event.id %>"><%= event.name %></option>
          <% end %>
        </select>
      </div>

      <!-- HEADLINE -->
      <div class="form-group">
        <label class="control-label" for="name">Give your tailgate a headline</label>
        <input type="text" class="form-control" name="name" id="name" value="<%= @tailgate.name %>" required>
      </div>

      <!-- FREE FORM TAILGATE DESCRIPTION -->
      <div class="form-group">
        <label class="control-label" for="description">Tell us about your tailgate</label>
        <textarea class="form-control" rows="5" name="description" id="description" required><%= @tailgate.description %></textarea>
      </div>

      <!-- HOW MANY GUESTS -->
      <div class="form-group">
        <label class="control-label" for="size">How many guests do you want to invite?</label>
        <input type="number" class="form-control" name="size" id="size" value="<%= @tailgate.size %>" required>
      </div>

      <!-- COST -->
      <div class="form-group">
        <label class="control-label" for="price">How much will it cost your guests to attend?</label>
        <div class="input-group">
          <div class="input-group-addon">$</div>
          <input type="text" class="form-control" name="price" id="price" value="<%= @tailgate.price %>" required>
          <div class="input-group-addon">.00</div>
        </div>
      </div>

      <!-- TABLE FOR TAILGATE DETAILS -->
      <table class="table table-bordered tailgate-details-table">
        <tr>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="grill" id="grill" value="true">
                Grill
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="tent" id="tent" value="true">
                Tent
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="reserved_parking" id="reserved_parking" value="true">
                Reserved Parking
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="food" id="food" value="true">
                Food
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="bevs_alcohol" id="bevs_alcohol" value="true">
                Beverages (Alcoholic)
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="bevs_non_alcohol" id="bevs_non_alcohol" value="true">
                Beverages (Non-Alcoholic)
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="tailgate_games" id="tailgate_games" value="true">
                Games
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="chairs" id="chairs" value="true">
                Chairs
              </label>
            </div>
          </td>
          <td>
            <div class="radio">
              <label>
                <input type="radio" name="table" id="table" value="true">
                Table
              </label>
            </div>
          </td>
        </tr>
      </table>

      <!-- AFFILIATE TAILGATE -->
      <div class="form-group">
        <label class="control-label" for="affiliation">Do you want to affiliate your tailgate with either team? (All fans are welcome at any tailgate, but sometimes you just want to let your guests know what jersey you'll be wearing.)</label>
        <select class="form-control" name="affiliation" id="affiliation">
          <option value="Neither" selected>Neither</option>
          <option value="Home team">Home Team</option>
          <option value="Away team">Away Team</option>
        </select>
      </div>

      <!-- TIME TAILGATE STARTS, RELATIVE TO KICKOFF-->
      <div class="form-group">
        <label class="control-label" for="tailgate_start_time">When does your tailgate start?</label>
        <select class="form-control" name="tailgate_start_time" id="tailgate_start_time">
          <option value="5 hours before kickoff">5 hours before kickoff</option>
          <option value="4 hours before kickoff">4 hours before kickoff</option>
          <option value="3 hours before kickoff" selected>3 hours before kickoff</option>
          <option value="2 hours before kickoff">2 hours before kickoff</option>
        </select>
      </div>

      <!-- TAILGATE DURING GAME?-->
      <div class="form-group">
        <label class="control-label" for="tailgate_during_game">Are you tailgating during the game?</label>
        <div class="radio">
          <label>
            <input type="radio" name="tailgate_during_game" id="tailgate_during_game" value="true">
            Yes
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="tailgate_during_game" id="tailgate_during_game" value="false" checked>
            No
          </label>
        </div>
      </div>

      <!-- ADD IMAGES-->
      <div class="form-group">
        <label class="control-label" for="image_1">Image 1</label>
        <input type="text" class="form-control" name="image_1" id="image_1" placeholder="URL" value="<%= @tailgate.image_1 %>">
      </div>

      <div class="form-group">
        <label class="control-label" for="image_2">Image 2</label>
        <input type="text" class="form-control" name="image_2" id="image_2" placeholder="URL" value="<%= @tailgate.image_2 %>">
      </div>

      <div class="form-group">
        <label class="control-label" for="image_3">Image 3</label>
        <input type="text" class="form-control" name="image_3" id="image_3" placeholder="URL" value="<%= @tailgate.image_3 %>">
      </div>

      <div class="form-group">
        <label class="control-label" for="image_4">Image 4</label>
        <input type="text" class="form-control" name="image_4" id="image_4" placeholder="URL" value="<%= @tailgate.image_4 %>">
      </div>

      <input type="submit" class="btn btn-success btn-block" value="Save Changes">
      <br>
      <button class="btn btn-danger btn-block">
        <%= link_to "Delete Listing", tailgate_url(@tailgate.id), :method => "delete", :data => { :confirm => "Are you sure you want to delete this tailgate?"} %>
      </button>
      <% end %>

    </div>
  </div>
  <br>
  <br>
</div>
