<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Search for a team</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="e.g Penn State, Chicago Bears" style="width: 250px;">
          </div>
          <button type="submit" class="btn btn-primary">Find tailgates</button>
        </form>
      </div>
    </div>
  </div>


  <% @events.each do |event| %>
  <% if event.tailgates.length > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title"><%= event.name %></h2>
          <h3 class="panel-title"><small><%= event.date %>, <%= event.time %>, <%= event.city %>, <%= event.state %></small></h3>
        </div>
        <% event.tailgates.each do |tailgate| %>
        <div class="panel-body tailgate-listing">
          <div class="col-md-3 tailgate-listing-image" style="background-image: url(<%= tailgate.image_1 %>);">
            <div class="tailgate-listing-price">
              <h5>$<%= tailgate.price %> Per Guest</h5>
            </div>
          </div>
          <div class="col-md-6">
            <h4><strong><%= link_to tailgate.name, tailgate_url(tailgate.id) %></strong></h4>
            <p><em><%= tailgate.size %> spots remaining</em></p>
            <p class="text-justify"><%= tailgate.description %></p>
          </div>
          <div class="col-md-3">
            <div class="host-details">
              <dl class="dl-horizontal">
                <dt>Host Name:</dt>
                <dd><%= tailgate.user.name %></dd>
                <dt>Experience:</dt>
                <dd>Hosted 18 Tailgates</dd>
                <dt>Rating:</dt>
                <dd>
                  <span class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                  </span>
                </dd>
              </dl>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
