<div class="col-md-10 col-md-offset-1 text-center">
  <h3><strong>Featured Tailgate</strong></h3>
  <hr/>
  <div class="row">
    <% tailgate = Tailgate.first %>
    <div class="col-md-6 col-md-offset-3">
      <div style="background-image: url('<%= tailgate.image_1 %>'); background-size: cover; height: 300px;">
        <div style="height: 100%; background-color: rgba(0,0,0,.3); padding-top: 110px;">
          <span style="color: white; font-weight: 600; font-size: 22px;">
            <%= link_to "Tailgating for a Cause", tailgate %>
          </span>
          <div class="text-left" style="overflow: hidden; background-color: #640009; margin-top: 80px; padding: 10px;">
            <%= image_tag tailgate.host.image, class: 'img-circle pull-left', height: '40px' %>
            <div style="color: white; margin-left: 50px;">
              <p>
                <%= link_to "Free Tailgate hosted by #{tailgate.host.short_name}", tailgate %>
              </p>
              <p>
                South Carolina | <small><%= tailgate.event.date.strftime('%A, %B %e, %Y') %></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
