<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => 'form-horizontal' })  do |f| %>
<%= devise_error_messages! %>


<%= f.email_field :email, autofocus: true,
    class: 'form-control form-input-fields',
    placeholder: "Email address" %>

<br>

<%= f.phone_field :phone, autofocus: true,
    class: 'form-control form-input-fields',
    placeholder: "Mobile phone number" %>

<br>

<%= f.password_field :password, autocomplete: "off",
    class: 'form-control form-input-fields',
    placeholder: "Password (8 characters minimum)" %>

<br>

<%= f.password_field :password_confirmation, autocomplete: "off",
    class: 'form-control form-input-fields',
    placeholder: "Password Confirmation" %>

<hr/>

<p class="modal-text-link" data-toggle="modal" data-target="#log-in-modal">
  <a>Already have an account? Log In Now</a>
</p>

<% end %>
