
<%= render 'become_host_landing_desktop' %>
<%= render 'become_host_landing_ios' %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h3 class="text-center">
        <strong>Why list your tailgates on Crowdgate?</strong>
      </h3>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Access to more fans</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                Running a tailgating business is difficult. The hardest part can be finding enough fans to join your tailgate. With Crowdgate, you now have access to the crowd. By centralizing all tailgate offerings into one marketplace, we are bringing more fans together who want to purchase tailgates.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Offset the cost of your game tickets</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                It costs a fortune to go to sporting events these days. We feel your pain and that's why we are here to help. If you have tailgating gear, and love being in the parking lot before the big game, you can now earn cash by hosting a tailgate. Your game day just got a little bit more affordable.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Show off your tailgating chops</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                Sometimes it's pride. Sometimes it's competitiveness. Whatever the reason, you love being the one to host the best tailgate. Now you can show off that skill to more people by connecting with fans before the big game. The more guests, the more fun. Your tailgate just became more awesome.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center">
        <strong>Game day is all about the experience</strong>
      </h3>
      <br>
      <div class="text-content">
        <p>
          You've experienced it before. The grill. The beer. The food. The smell is distinct. You're surrounded by your favorite people. The buzz in the parking lot on game day is magical. It's the best place to be in the world.
        </p>
        <p>
          We are now giving you more reasons to do what you love every weekend. With Crowdgate, you have the opportunity to earn extra cash, and connect with more fans, by inviting others to join your tailgate. The only question now is, what are you waiting for?
        </p>
      </div>
      <div class="form-inputs">
        <%= form_tag('/hosts', :remote => true) do %>
        <div class="form-group">
          <input type="email" name="email" class="form-control text-center form-input-fields" placeholder="Enter your email address" required>
        </div>
        <input type="submit" value="Become a Host" class="btn btn-success btn-block btn-lg">
        <% end %><br>
      </div>
    <hr/>
    </div>
    <br>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="text-center">
        <strong>The X's and O's of hosting on Crowdgate</strong>
      </h3>
      <br>
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Join our team</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                Our tryout is simple. Submit your email on this page and we will contact you within 48 hours to schedule a phone call. On the call, we like to get a feel for your tailgating philosophy. We pride ourselves on exceptional customer service and attention detail. As a host, you should have a similar gameplan.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Call your own plays</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                Aside from ensuring exceptional customer service, we give you the freedom to tailgate as you wish. Take a week off. Host a large tailgate. Host a small tailgate. It's totally your call. Just use our simple form to create a tailgate listing, and share it with the world.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Tailgate like a champion</h4>
            </div>
            <div class="panel-body" style="height: 250px;">
              <p class="text-content">
                All the hardwork and preperation culminate on game day. It's time to execute and your guests expect the best. Deliver it to them. And of course, have some fun yourself. You're in the parking lot, surrounded by thousands of your closest friends. Where else could you possibly want to be?
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <%= link_to 'Click here to see other frequently asked questions about hosting on Crowdgate',
      faq_url, class: 'btn btn-default btn-lg', style: 'white-space: normal;' %>
      <br>
      <br>
      <hr/>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3 class="text-center">
        <strong>Make tailgating accessible to every fan</strong>
      </h3>
      <br>
      <div class="text-content">
        <p>
          Game day is special. And it's not just about how your team performs on the field. It's about the whole experience, especially the tailgate! Unfortunately tailgating is not accessible to all fans. Traveling fans can't bring their equipment, and some people just do not have the time to plan a tailgate.
        </p>
        <p>
          You can help make that fan's game day special. As a host, your full service tailgate creates a completely hassle-free experience for them. They get all the enjoyment of a tailgate done right, with out all the hard work.
        </p>
      </div>
      <br>
      <br>
    </div>
  </div>

</div>

<div class="row" style="background-color: #303A48; padding: 50px;">
  <div class="col-md-8 col-md-offset-2 text-center">
    <h2 class="no-margin-top" style="color: white;">Start getting paid to tailgate</h2>
    <br>
    <br>
    <div class="form-inputs">
      <%= form_tag('/hosts', :remote => true) do %>
      <div class="form-group">
        <input type="email" name="email" class="form-control text-center form-input-fields" placeholder="Enter your email address" required>
      </div>
      <input type="submit" value="Become a Host" class="btn btn-success btn-block btn-lg">
      <% end %>
    </div>
  </div>
</div>


<%= render 'become_host_confirmation_modal' %>

<script>
  $(function(){
    $('.btn').on('click', function() {
      $(this).val('Play is currently under review...');
      $(this).addClass('submitting')
    });
  });
</script>
