<div class="col-xs-12 col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">RSVP</h3>
    </div>
    <div class="panel-body">

      <%= form_for( [@tailgate, @booking],
                    :url => tailgate_bookings_url,
                    :html => {:class => "form", :id => "payment-form"}) do |f| %>

        <% unless current_user.present? %>
          <div class="checkbox">
            <label>
              <%= f.check_box :checkout_as_guest, :checked => true %>
              Checkout as guest
            </label><br>
            <small>or
              <span>  <%= link_to "Log In", "#",  :remote => :true,
                                                  :class => "modal-text-link",
                                                  "data-toggle" => "modal",
                                                  "data-target" => "#log-in-modal"  %> </span>
            </small>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', :required => true %>
          </div>

          <div class="form-group">
            <%= f.label :phone, "Mobile Phone Number" %> <i class="fa fa-question-circle" id="phoneQuestion"></i>
            <p id="phoneAnswer" class="alert alert-warning" style="display:none;">We require a mobile phone number because this is how you will find the tailgate on game day. The host will send you a text with their exact location.</p>
            <%= f.text_field  :phone,
                              class: 'form-control',
                              :required => true %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :quantity, "How many tickets do you want?" %>
          <%= f.select :quantity,
                        options_for_select(1..@tailgate.current_size),
                        {},
                        :class => 'form-control' %>
        </div>

        <p class='btn btn-warning donation-button' style="white-space: normal;">
          Click here to add a donation for this tailgate
        </p>

        <div id="donation_block" style="display:none;">
          <hr/>

          <div class="form-group">
            <%= f.label :donation_amount, "How much would you like to donate?",
                        class: "control-label" %>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <%= f.number_field :donation_amount, class: 'form-control'  %>
              <div class="input-group-addon">.00</div>
            </div>
          </div>
          <p>
            A transaction fee of about 4% is added to all online donations.
            The total amount charged to your card will be $<span id="total_charge">0.00</span>
          </p>

          <%= render 'credit_card_details' %>
        </div>

        <hr/>
        <%= f.submit 'Send RSVP with no Donation',
                      class: 'btn btn-primary btn-block visible',
                      id: "rsvpButton" %>

        <%= f.submit 'Send RSVP with Donation',
                      class: 'btn btn-primary btn-block hidden',
                      id: "buttonStripe" %>
        <br>
        <% if current_user.present? %>
          <p class="text-center">
            <small>Your receipt will be emailed to <%= current_user.email %></small>
          </p>
        <% end %>
        <a href='https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.crowdgate.us' target='_blank'><img src='https://www.expeditedssl.com/ssl-secure-badge.png'  alt='Expedited SSL Scanner'></a>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    $('.donation-button').click(function() {
        $('#donation_block').slideToggle();
    });

    $('#phoneQuestion')
      .mouseover(function() {
        $('#phoneAnswer').toggle();
      })

      .mouseout(function() {
        $('#phoneAnswer').toggle();
      });


    $('#booking_donation_amount, #total_charge').change(function() {

      var donation = parseFloat($("#booking_donation_amount").val());

      if (donation != 0 ) {
        total_charge = ((donation)*1.03) + 0.30;
        $( "#total_charge" ).text(total_charge.toFixed(2));

        if ($('#buttonStripe').hasClass('hidden')) {
          $('#buttonStripe').removeClass('hidden');
          $('#buttonStripe').addClass('visible');
        }
        if ($('#rsvpButton').hasClass('visible')) {
          $('#rsvpButton').removeClass('visible');
          $('#rsvpButton').addClass('hidden');
        }

      } else {
        total_charge = 0
        $( "#total_charge" ).text(total_charge.toFixed(2));

        if ($('#buttonStripe').hasClass('visible')) {
          $('#buttonStripe').removeClass('visible');
          $('#buttonStripe').addClass('hidden');
        }

        if ($('#rsvpButton').hasClass('hidden')) {
          $('#rsvpButton').removeClass('hidden');
          $('#rsvpButton').addClass('visible');
        }
      }

    });
  });

</script>
