<div class="row quantity text-left">
  <div class="col-md-12">
    <% if @tailgate.class == PaidTailgate %>

      <%= f.label :quantity, "How many tickets do you want to buy?", class: 'control-label' %>
      <%= f.select :quantity,
              options_for_select(1..@tailgate.current_size),
              {},
              :class => 'form-control' %>

      <h2>
        <small>Ticket Amount: $<%= @tailgate.price %></small>
      </h2>

      <input  type="hidden" name="item_price"
              id="item_price" class="txt" value="<%= @tailgate.price %>" />

      <h4><small>Fees: $<span id='fees'></span></small></h4>

      <h3>
        Total Amount: $<span id='total_price'><%= @tailgate.price %></span>
      </h3>

    <% elsif @tailgate.class == PackagedTailgate %>

      <h2 class="no-margin-top">
        <small>Tailgate Amount: $<%= @tailgate.price %></small>
      </h2>

      <input  type="hidden" name="item_price"
              id="item_price" class="txt" value="<%= @tailgate.price %>" />
      <h4>
        <small>Fees: $<span id='fees'></span></small>
      </h4>

      <h3>
        Total Amount: $<span id='total_price'></span>
      </h3>

    <% else  %>

      <%= f.label :quantity, "How many tickets do you want to buy?", class: 'control-label' %>
      <%= f.select :quantity,
              options_for_select(1..@tailgate.current_size),
              {},
              :class => 'form-control' %>

    <% end %>
  </div>
</div>

<!-- FOR Dynamically displaying total amount -->
<script>
  $(function() {
    $('#quantity, #item_price').change(function() {
        //  Get quantity value
        var quan = $("#quantity").val();

        //  Get price, fees, and taxes objects
        price = $("#item_price").val();
        fees = $("#fees").val();

        total = (price*quan)

        new_fees = ((total)*0.03) + 0.30

        new_total = (total + new_fees);
        //  Set total price
        $( "#total_price" ).text(new_total.toFixed(2));
        $( "#item_price" ).text(new_total.toFixed(2));
        $( "#fees" ).text(new_fees.toFixed(2));
      });
  });
</script>
