<div class="row quantity text-left">
  <div class="col-md-12">
    <% if @tailgate.class == PaidTailgate %>

      <%= f.label :quantity, "How many tickets do you want to buy?", class: 'control-label' %>
      <%= f.select :quantity,
              options_for_select(1..@tailgate.current_size),
              {},
              :class => 'form-control',
              :id => 'quantity' %>

      <h2>
        <small>
          Ticket Amount: $<span id='total_ticket_price'><%= @tailgate.price %><span>
        </small>
      </h2>


      <h4>
        <small>Fees: $<span id='fees'></span>
        </small>
      </h4>

      <h3>
        Total Amount: $<span id='total_price'></span>
      </h3>

    <% elsif @tailgate.class == PackagedTailgate %>

      <%= f.hidden_field :quantity, :id => 'quantity' %>

      <h2>
        <small>
          Ticket Amount: $
            <span id='total_ticket_price'>
              <%= @tailgate.price %>
            <span>
        </small>
      </h2>


      <h4>
        <small>Fees: $
          <span id='fees'>
          </span>
        </small>
      </h4>

      <h3>
        Total Amount: $
        <span id='total_price'>
        </span>
      </h3>

    <% else  %>

      <%= f.label :quantity, "How many tickets do you want to reserve?", class: 'control-label' %>
      <%= f.select :quantity,
              options_for_select(1..@tailgate.current_size),
              {},
              :class => 'form-control' %>

    <% end %>
  </div>
</div>

<!-- FOR Dynamically displaying total amount -->
<script>
  $(function() {

    $('body').ready(function(){
      var quantity = $("#quantity").val();
      var tailgate_price = <%= @tailgate.price %>;

      total_ticket_price = $("#total_ticket_price").val();
      fees = $("#fees").val();
      total_price = $("#total_price").val();

      initial_total_ticket_price = (tailgate_price*quantity);
      initial_fees = ((initial_total_ticket_price)*0.03) + 0.30;
      initial_total = (initial_total_ticket_price + initial_fees);

      $("#total_ticket_price" ).text(initial_total_ticket_price.toFixed(2));
      $("#fees").text(initial_fees.toFixed(2));
      $("#total_price").text(initial_total.toFixed(2));
    });

    $('#quantity').change(function() {
        //  Get quantity value
        var quantity = $("#quantity").val();
        var tailgate_price = <%= @tailgate.price %>;

        //  Get price, fees, and taxes objects
        total_ticket_price = $("#total_ticket_price").val();
        fees = $("#fees").val();
        total_price = $("#total_price").val();

        new_total_ticket_price = (tailgate_price*quantity);
        new_fees = ((new_total_ticket_price)*0.03) + 0.30;
        new_total = (new_total_ticket_price + new_fees);

        //  Set total price
        $( "#total_ticket_price" ).text(new_total_ticket_price.toFixed(2));
        $( "#fees" ).text(new_fees.toFixed(2));
        $( "#total_price" ).text(new_total.toFixed(2));
      });
  });
</script>
