<div class="container">
  <div class="row row-page-start">
    <div class="page-header">
      <h3><%= @tailgate.name %></h3>
      <h4>
        <small>
          <%= @tailgate.event.name %>,
          <%= @tailgate.event.venue %>,
          <%= @tailgate.event.city %>,
          <%= @tailgate.event.state %>
        </small>
      </h4>
    </div>
  </div>
  <% unless @tailgate.class == FreeTailgate %>
    <div class="row">
      <%= form_for( [@tailgate, @booking],
                    :url => tailgate_bookings_url,
                    :html => {:class => "form", :id => "payment-form"},) do |f| %>

        <% if user_signed_in? %>
          <%= render 'checkout_logged_in', { :@booking => @booking, :f => f } %>
        <% else %>
          <%= render 'checkout_new_user', { :@booking => @booking, :f => f } %>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div class="row">
      <%= render 'rsvp_block', { :@booking => @booking } %>
    </div>
  <% end %>
</div>




<% content_for :bottom do %>
<script type="text/javascript">
Stripe.setPublishableKey('pk_test_bgvvOgbdPKr42kXOoLNDPKYO');

var stripeResponseHandler = function(status, response) {
  var $form = $('#payment-form');

  if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('button', '#buttonStripe').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripeToken" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {

      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button', '#buttonStripe').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });


    });
    </script>
    <% end %>
