<div class="container">
  <div class="row">
    <div class="page-header">
      <h4><%= @tailgate.name %></h4>
      <h4><small><%= @tailgate.event.name %>, <%= @tailgate.event.venue %>, <%= @tailgate.event.city %>, <%= @tailgate.event.state %>, <%= @tailgate.event.time %></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Log In</h3>
        </div>
        <div class="panel-body">
          <%= render 'sessions/login' %>
        </div>
      </div>
    </div>
    <%= form_tag bookings_url, :class => "form", :id => "payment-form" do %>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Check Out and Create Account</h3>
        </div>
        <div class="panel-body">
          <%= render 'bookings/billingaddress' %>
          <legend><h4>Credit Card Information</h4></legend>
          <span class="payment-errors"></span>

          <!-- Credit Card Number -->
          <div class="form-row">
            <label>Card Number</label>
            <input class="form-control" type="text" size="20" data-stripe="number"/>
          </div>

          <!-- CVC Number -->
          <div class="form-row">
            <label>CVC</label>
            <input class="form-control" type="text" size="4" data-stripe="cvc"/>
          </div>

          <!-- Expiration Date -->
          <div class="form-row">
            <label><span>Expiration (MM/YYYY)</span></label>
            <input class="form-control" type="text" size="2" data-stripe="exp-month">
            <input class="form-control" type="text" size="4" data-stripe="exp-year">
          </div>
        <%= render 'users/signup' %>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Confirm</h3>
        </div>
        <div class="panel-body text-center">
          <%= render 'bookings/total_amount' %>
          <input type="hidden" name="tailgate_id" value="<%= @tailgate.id %>">
          <button type="submit" class="btn btn-primary btn-block">Submit Payments</button>
          <hr/>
          <p>Charged to <i class="fa fa-cc-amex"></i> ending in 3000</p>
        </div>
      </div>
    </div>

    <% end %>
  </div>

</div>


<% content_for :bottom do %>

  <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_bgvvOgbdPKr42kXOoLNDPKYO');

      var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');

        if (response.error) {
          // Show the errors on the form
          $form.find('.payment-errors').text(response.error.message);
          $form.find('button').prop('disabled', false);
        } else {
          // token contains id, last4, and card type
          var token = response.id;
          // Insert the token into the form so it gets submitted to the server
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          // and re-submit
          $form.get(0).submit();
        }
      };

      jQuery(function($) {

        $('#payment-form').submit(function(e) {
          var $form = $(this);

          // Disable the submit button to prevent repeated clicks
          $form.find('button').prop('disabled', true);

          Stripe.card.createToken($form, stripeResponseHandler);

          // Prevent the form from submitting with the default action
          return false;
        });


      });
      </script>

<% end %>
