<div class="container">
  <div class="row row-page-start">
    <div class="col-xs-12">
      <div class="page-header">
        <% if current_user.nil? && @tailgate.class != FreeTailgate %>
          <div class="alert alert-warning" role="alert">
            You must be logged in before you can proceed.
            <a href="#" id="signupmodal" data-toggle="modal" data-target="#myModal">
              Click here to Log In or Sign Up
            </a>
          </div>
        <% end %>
        <h3><%= @tailgate.name %></h3>
        <h4>
          <small>
            <%= @tailgate.event.name %>,
            <%= @tailgate.event.venue %>
          </small>
        </h4>
      </div>
    </div>
  </div>

  <% unless @tailgate.class == FreeTailgate %>
    <%= form_for( [@tailgate, @booking],
                  :url => tailgate_bookings_url,
                  :html => {:class => "form", :id => "payment-form"},) do |f| %>

      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Your Account
            </div>
            <div class="panel-body">
              <%= render 'account_details', { :f => f } %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Payment Details
            </div>
            <div class="panel-body">
              <%= render 'payment_details', { :f => f } %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Confirmation
            </div>
            <div class="panel-body">
              <%= render 'checkout_block', { :f => f } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="row">
      <%= render 'rsvp_block', { :@booking => @booking } %>
    </div>
  <% end %>
</div>


<% unless @tailgate.class == FreeTailgate %>
  <% unless current_user.present? %>
    <p class="hidden" id="signupmodal" data-toggle="modal" data-target="#myModal">
      Sign up or Log in Modal
    </p>
    <%= render 'users/signup_login_modal' %>
  <% end %>
<% end %>


<% content_for :bottom do %>
  <script type="text/javascript">

  Stripe.setPublishableKey('<%= @stripe_key %>');

  var stripeResponseHandler = function(status, response) {
    var $form = $('#payment-form');

    if (response.error) {
          $form.find('.payment-errors').text(response.error.message);
          $form.find('#buttonStripe').prop('disabled', false);
        } else {
          var token = response.id;
          $form.append($('<input type="hidden" name="stripeToken" />').val(token));
          $form.get(0).submit();
        }
      };

      jQuery(function($) {
        $('#buttonStripe').on('click', (function(e) {
          var $form = $('#payment-form');
          $form.find('#buttonStripe').prop('disabled', true);
          Stripe.card.createToken($form, stripeResponseHandler);
          return false;
        }));

      });
  </script>

  <script>
    $(document).ready(function() {
      $('#signupmodal').trigger('click');
    });

    var NewContent = 'Play is currently under review... <div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div>'

    $('#buttonStripe').on('click', function() {
      if ($('body').hasClass('payment-errors')) {
      } else {
        $(this).html(NewContent);
        $(this).addClass('submitting')
      }
    });
  </script>

<% end %>
