<div class="container">
  <div class="row row-page-start">
    <div class="col-xs-12">
      <div class="page-header">
        <h3>Have fun at <em><%= @booking.tailgate.name %>!</em></h3>
        <h4>
          <small>
            <%= @booking.tailgate.event.name %>,
            <%= @booking.tailgate.event.venue %>,
            <%= @booking.tailgate.event.date.strftime('%A, %B %e, %Y') %>
          </small>
        </h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <p class="lead">
        Order Confirmation Number: #<%= @booking.id %><br>
        <% if @booking.total_price > 0 %>
          An amount of <%= number_to_currency(@booking.total_price) %>
          has been charged to your account.
        <% end %>
      </p>
      <p class="">
        A copy of this receipt has been emailed to
        <% if @booking.buyer.present? %>
          <%= @booking.buyer.email %>
        <% else %>
          <%= @booking.email %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center social-box">
      <h2>Tailgating is more fun with friends!</h2>
      <h4>Don't forget to share your plans with them:</h4>
      <br>
      <div class="btn-group btn-group-justified lead">
        <a href="https://www.facebook.com" target="_blank">
          <i class="btn btn-primary fa fa-facebook"></i>
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <i class="btn btn-primary fa fa-twitter"></i>
        </a>
        <a href="mailto:" target="_blank">
          <i class="btn btn-primary fa fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</div>


