<div class="container">
  <div class="row row-page-start">
    <div class="page-header">
      <h3>Congrats, you're going to <em><%= @booking.tailgate.name %></em></h3>
      <h4><small><%= @booking.tailgate.event.name %>, <%= @booking.tailgate.event.venue %>, <%= @booking.tailgate.event.city %>, <%= @booking.tailgate.event.state %>, <%= @booking.tailgate.event.time %></h4>
    </div>
  </div>

  <div class="row">
    <p class="lead">An amount of $<%= @booking.amount %> has been charged to your account. Order Confirmation Number: #<%= @booking.id %></p>
    <p class="">A copy of this recepit has been emailed to <%= @booking.user.email %></p>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center social-box">
      <h2>Tailgating is more fun with your friends!</h2>
      <h4>Don't forget to share your plans with them:</h4>
      <ul class="social-icons">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
        <li><i class="fa fa-envelope"></i></li>
      </ul>
    </div>
  </div>
</div>


