<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hosting Details</h3>
  </div>
  <div class="panel-body">
    <p>Status:
      <% if @user.host_status %>
      Approved
      <% else %>
      Request approval
      <% end %>
    </p>
    <p>Hosting Experience: <%= pluralize(@user.tailgates.count, 'tailgate') %></p>
    <p>Description: <%= @user.description %> </p>

    <p>Rating:
      <% if @user.star_rating.nil? %>
        No Rating
      <% else %>
        <%= @user.star_rating %>
      <% end %>
    </p>

    <p>Reviews: <%= @user.reviews.count %></p>
    <p>Current take home percentage:
      <% if @user.sales_percentage.present? %>
        <%= number_to_percentage(@user.sales_percentage*100, precision: 0) %>
      <% end %>
    </p>
    <p>Total earnings: <%= number_to_currency(@user.ticket_sales) %></p>
  </div>
</div>
