<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hosting Details</h3>
  </div>
  <div class="panel-body">
    <p>Status:
      <%= @user.host_status ? "Approved" : (link_to 'Request Approval', new_host_url) %>
    </p>
    <% if @user.host_status %>
      <p>
        Hosting Experience: <%= pluralize(@user.tailgates.count, 'tailgate') %>
      </p>
      <p>
        Description: <%= @user.description %>
      </p>

      <p>Rating:
        <%= @user.star_rating.nil? ? "No Rating" : @user.star_rating %>
      </p>

      <p>
        Reviews: <%= @user.reviews_as_host.count %>
      </p>
      <p>
        Sales Percentage:
        <%= number_to_percentage(@user.sales_percentage*100, precision: 0) %>
      </p>
      <p>
        Total earnings: <%= number_to_currency(@user.sales.sum(:ticket_sales)) %>
      </p>
    <% end %>
  </div>
</div>
