<div class="container">
  <div class="row row-page-start">
    <aside>
      <div class="col-md-3 col-md-offset-1">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h3 class="panel-title"><%= @user.name %></h3>
          </div>
          <div class="panel-body text-center">
            <%= image_tag @user.image, :class => "img-responsive thumbnail" %>
          </div>
        </div>
        <nav>
          <ul class="list-group">
            <li class="list-group-item active account_details">
              Account Details
            </li>
            <li class="list-group-item inactive">
              Purchase History
            </li>
            <li class="list-group-item inactive">
              Hosting Details
            </li>
            <li class="list-group-item inactive">
              Hosting History
            </li>
          </ul>
        </nav>
      </div>
    </aside>
    <div class="col-md-7 profile-information">
      <div id="account_details">
        <%= render 'account_details', { :@user => @user } %>
      </div>
      <div id="purchase_history">
        <%= render 'purchase_history', { :@user => @user } %>
      </div>
      <div id="hosting_details">
        <%= render 'hosting_details', { :@user => @user } %>
      </div>
      <div id="hosting_history">
        <%= render 'hosting_history', { :@user => @user } %>
      </div>
    </div>
  </div>
</div>

<!-- JQUERY -->
<script>
$(document).ready(function () {
  $('.list-group').children('.list-group-item').hover( function() {
        var $this = $(this);
        $this.data('initialText', $this.text());
        $this.append($("<small><i class='fa fa-chevron-right pull-right'></i></small>"));
      },
      function() {
        var $this = $(this);
        $this.text($this.data('initialText'));
      }
    );

  $('.list-group-item').click( function () {
    var $this = $(this);
    $this.addClass("active");
    $this.removeClass("inactive");
    $this.data('sectionName', $this.text());
    log console('sectionName');

    var $dynamicSection = $('.profile-information').find("sectionName");
    $dynamicSection.addClass('hidden');
  });

});

</script>
