<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h3>Taiglates you are hosting</h3>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @tailgates.length > 0 %>
      <div class="col-md-12">
        <% @tailgates.each_with_index do |listing, i| %>
          <div class="row tailgate-listing">
            <div class="col-md-1">
              <p><%= i + 1%>.</p>
            </div>
            <div class="col-md-6">
              <p><strong><%= listing.event.name %></strong></p>
              <p><%= link_to listing.name, tailgate_url(listing.id) %></p>
            </div>
            <div class="col-md-2 text-center">
              <p><strong>Status</strong></p>
              <p><%= listing.size %> spots left</p>
            </div>
            <div class="col-md-2 text-center">
              <p class="btn btn-default btn-block"><%= link_to "Manage Listing", edit_tailgate_url(listing.id) %></p>
              <br>
              <p class="btn btn-warning btn-block"><%= link_to "Copy Listing", new_tailgate_url %></p>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
        <div class="col-md-10 col-md-offset-1">
          <p>You are currently not hosting any tailgates. Add new tailgates today!</p>
        </div>
    <% end %>
  </div>
</div>
