<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Are you sure you want to delete the below event?</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Event Date</th>
          <th>Event Time</th>
          <th>Venue</th>
          <th>City</th>
          <th>State</th>
        </thead>
        <tr>
          <td><%= @event.id %></td>
          <td><%= @event.name %></td>
          <td><%= @event.date %></td>
          <td><%= @event.time %></td>
          <td><%= @event.venue %></td>
          <td><%= @event.city %></td>
          <td><%= @event.state %></td>
        </tr>
      </table>
      <p class="btn btn-default btn-lrg"><a href="/events/index">Go Back</a></p>
      <p class="btn btn-danger btn-lrg"><a href="/events/destroy/<%= @event.id %>">Delete</a></p>
    </div>
  </div>
</div>
