<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Index of all events</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-hover">
        <thead>
          <th>ID</th>
          <th>Name</th>
          <th>Event Date</th>
          <th>Event Time</th>
          <th>Venue</th>
          <th>City</th>
          <th>State</th>
          <th>API ID</th>
          <th>API Modified At</th>
        </thead>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.id %></td>
            <td><%= event.name %></td>
            <td><%= event.date %></td>
            <td><%= event.time %></td>
            <td><%= event.venue %></td>
            <td><%= event.city %></td>
            <td><%= event.state %></td>
            <td><%= event.ap_id %></td>
            <td><%= event.api_modified %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
