<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <% if @tailgate.host.reviews_about_host.count == 0 %>
          There are no reviews on this host
          <% else %>
          Rating: <%= @tailgate.host.star_rating %> out of 5, Based on <%= pluralize(@tailgate.host.reviews_about_host.count, 'Review') %>
          <% end %>
<!--           <span class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span> -->
        </h3>
      </div>
      <div class="panel-body">
        <% @tailgate.host.reviews_about_host.each do |review|  %>
        <div class="row review-listing">
          <div class="col-md-3 text-center">
            <%= image_tag review.user.image, :class => "img-circle host-image", :width => "75px", :height => "auto" %>
            <h6><%= review.user.short_name %></h6>
          </div>
          <div class="col-md-9 text-justify">
            <p>
              <%= review.review %>
            </p>
            <p>
              <strong>Rating:</strong> <%= review.rating %> out of 5 stars
            </p>
            <p class="date">
              <%= review.created_at.strftime("%b. %d, %Y") %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
