<div class="container">
  <div class="row">
    <div class="page-header">
      <h3>Tell us how "<%= @tailgate.name %>" was! </h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
     <%= form_for [@tailgate, @review],
                  :url => tailgate_reviews_url,
                  :html => {:class => "form"} do |f|  %>
<!--
      <div class="form-group">
        <%= f.label  :tailgate_id, "What tailgate was this about?", class: "control-label" %>
        <%= f.select :tailgate_id, options_from_collection_for_select(Tailgate.all, :id, :name), {}, class: 'form-control' %>
      </div> -->

<!--       <div class="form-group">
        <%= f.label  :user_id, "Who is this review from?", class: "control-label" %>
        <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name), {}, class: 'form-control' %>
      </div> -->

      <div class="form-group">
        <%= f.label  :review, "Tell us how you thought #{@tailgate.host_name} did as the tailgate host", class: "control-label" %>
        <%= f.text_area :review, rows: 5, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label  :rating, "Rating: 1 to 5", class: "control-label" %>
        <%= f.select :rating, options_for_select(@rating), {}, class: 'form-control' %>
      </div>

      <%= f.submit "Create Review", class: "btn btn-primary" %>

    <% end %>
    </div>

  </div>
</div>





