<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand"><a href="/">Crowdgate</a></span>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag tailgates_url, :method => 'get', :class => "navbar-form navbar-left", :role => "search" do %>
      <div class="form-group">
        <%= text_field_tag :search,
        params[:search],
        :class => "form-control",
        :placeholder => "Where do you want to tailgate?",
        :required => true %>
        <%= submit_tag "Find tailgates", :name => nil, :class => "btn btn-primary" %>
      </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <% if 1 > 2 %>
            <li><a href="/users/edit">Oscar the Grouch</a></li>
            <li><a href="/users/sign_out" data-method="delete">Sign out</a></li>
            <% else %>
            <li><a href="/users/sign_out" data-method="delete">Sign out</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
            <li><a href="/users/sign_in">Sign in</a></li>
            <% end %>
            <li><%= link_to "Index of Events", events_url%></li>
            <li><%= link_to "New Events", new_event_url%></li>
            <li class="divider"></li>
            <li><a href="/users/3">Sample User</a></li>
            <li><%= link_to "Users", users_url%></li>
          </ul>
        </li>
        <li><%= link_to "Become a Host", new_tailgate_url%></li>
        <li><%= link_to "Sign Up", new_user_url%></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
